@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styling */
:root {
  --bg: #0f172a;
  --muted: #64748b;
}

html,
body,
#root {
  height: 100%
}

body {
  background: linear-gradient(180deg, #f8fafc, white);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  color: #0f172a;
}

code {
  background: #f1f5f9;
  padding: 0.12rem 0.3rem;
  border-radius: 6px
}